.navigation {

  &__nav {
    top: 0;
    left: 0;
    width: 100%;
    height: 7rem;
    padding: 1rem 10rem;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 1);
    font-size: 2.5rem;
  }

  &__logo {
    text-decoration: none;
    float: left;
    padding: 1rem;
    color: $color-orange-primary;
  }

  // ul
  &__list {
    // removes bullets
    list-style-type: none;
  }

  // li
  &__item {
    //display: inline;
    float: left;
    padding: 1rem;
  }

  // a
  &__link {
    color: $color-white;
    text-decoration: none;
    padding: 1rem;
    transition: .3s;

    &:hover {
      border-bottom: $color-orange-primary solid .3rem;
    }
  }
}