.section-mobile-builder {
  height: 95vh;
  display: flex;
  flex-direction: row;
  // positions flex
  justify-content: center;

  &__item-phone {
    text-align: center;
    width: 500px;

    & i {
      font-size: 60rem;
    }
  }

  &__part-selection {

    & a {
      margin: 1rem 0 0 0;
    }
  }

  &__item-menu {
    text-align: center;
    width: 50rem;
    font-size: 6rem;
  }
}

#1 {
  width: 500px;
  height: 500px;
}