.section-mobile-builder {
  height: 95vh;
  display: flex;
  flex-direction: row;
  // positions flex
  justify-content: center;

  &__item-phone {
    text-align: center;
    width: 500px;

    & i {
      font-size: 60rem;
    }
  }

  &__part-selection {

    & a {
      margin: 1rem 0 0 0;
    }
  }

  &__item-menu {
    text-align: center;
    width: 50rem;
    font-size: 6rem;
    color: black;
    border: 1px solid;

  }

  //all dropdowns
  &__dropdown {
    color: orange;
    border: 3px solid;

    //is the first dropdown
    &__carbon {
      color: yellow;
      border: 3px solid;

      & a{
        text-decoration: none;
        color: yellow;
      }

      //holds patterns
      &__options {
        height: 100px;
        color: green;
        border: 3px solid;
        display: flex;

        //each individual pattern
        &__carbon1 {
          list-style-type: none;
          color: blue;
          border: 1px solid;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}